*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.team_section {
    background-color: cornflowerblue;
    text-align: center;
}

.team_items{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.team_item{
    width:calc((100% - 40px )/3);
    border:1px solid red
}

.team_section h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.team_item h3 {
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: orange;
    text-decoration-style: solid;
    text-underline-offset: 7px;
}
.team_item h4 {
    text-transform: lowercase;
}
.team_item .old_price {

     text-decoration: line-through;
     color:red;
}

.team_item .new_price{
    color:green;
}
.price{
    margin:5px 0;
}